* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.App {
  width: 100%;
}

.Header {
  width: 100%;
  background: #ccc;
  padding: 20px;
}

.Header h1 {
  text-align: center;
}

.Nav {
  background: #1b1b1b;
  color: #fff;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.Nav input[type="text"] {
  min-width: 300px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
}

.Nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Nav ul a {
  display: inline-block;
  color: inherit;
  position: relative;
}

.Nav ul a::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  margin-top: 4px;
  background: #fff;
  transition: 0.3s;
  position: absolute;
}

.Nav ul a:hover::after,
.Nav ul a.active::after {
  width: 100%;
}

.Home {
  padding: 20px;
}

.Post {
  margin-bottom: 40px;
  position: relative;
}

.Post::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  margin-top: 5px;
}

.postDate {
  color: #636363;
  margin-bottom: 10px;
}

.Footer {
  padding: 40px 20px;
  background: #1b1b1b;
  color: #fff;
}

.Footer p {
  text-align: center;
}

.PostPage {
  padding: 60px 20px;
}

.post button{
  background: #e80000;
  color: #fff;
  font-weight: bold;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 200px;
  cursor: pointer;
}

.post button:hover {
  background: #ce0000;
}

.NewPost {
  padding: 60px 20px;
}

.NewPost h2{
  margin-bottom: 40px;
} 

.NewPost form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NewPost form input[type="text"],
.NewPost form textarea {
  padding: 8px;
  font-size: 1rem;
}

.NewPost form textarea {
  min-height: 200px;
}

.NewPost form button {
  align-self: start;
  padding: 8px 24px;
  cursor: pointer;
  font-size: 0.875rem;
}

.About {
  padding: 60px 20px;
}

.About h2{
  margin-bottom: 20px;
}

.About p {
  margin-bottom: 20px;
}

.About p:last-child {
  margin-bottom: 100px;
}